<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.reset.title}">JHipster password reset</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<a href="https://127.0.0.1:8443">
    <img th:class="logo" src="http://medizin-finder.de/images/logo1.png"/>
</a>

<hr/>
<p th:text="#{email.reset.greeting(${user.firstName}, ${user.lastName})}">
    Dear
</p>

<p th:text="#{email.reset.text1}">
    For your JHipster account a password reset was requested, please click on the URL below to reset it:
</p>

<p>
    <a th:href="@{|${baseUrl}/login/passwort/reset?key=${user.resetKey}|}"
       th:text="#{email.reset.link}">Reset Link</a>
</p>

<p>
    <span th:text="#{email.reset.text2}">Regards, </span>
    <br/>
    <em th:text="#{email.signature}">JHipster.</em>
</p>
</body>
</html>
