<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<form id="contactForm" th:object="${contactForm}" method="POST" th:fragment="contactForm" th:action="@{/index}">

    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

    <input type="hidden" th:field="*{error}" th:value="*{error}"/>


    <div class="content">
        <table class="form">
            <tbody>
            <tr>
                <td>
                    <span class="required">*</span>
                    Vorname:
                </td>
                <td>
                    <input class="q1" name="login" type="text" th:field="*{fistName}" th:required="required"/>
                                            <span th:if="${#fields.hasErrors('fistName')}" class="error"
                                                  th:errors="*{fistName}">Bitte geben Sie Ihren Vornamen ein.</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="required">*</span>
                    Nachname:
                </td>
                <td>
                    <input class="q1" name="login" type="text" th:field="*{lastName}" th:required="required"/>
                                            <span th:if="${#fields.hasErrors('lastName')}" class="error"
                                                  th:errors="*{lastName}">Bitte geben Sie Ihren Nachnamen ein.</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="required">*</span>
                    E-Mail:
                </td>
                <td>
                    <input class="q1" name="login" type="email" th:field="*{email}" th:required="required"/>
                                            <span th:if="${#fields.hasErrors('email')}" class="error"
                                                  th:errors="*{email}">Bitte geben Sie Ihre E-Mail ein.</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="required">*</span>
                    Betreff:
                </td>
                <td>
                    <input class="q1" name="login" type="text" th:field="*{subject}" th:required="required"/>
                                            <span th:if="${#fields.hasErrors('subject')}" class="error"
                                                  th:errors="*{subject}">Bitte geben Sie Ihre E-Mail ein.</span>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: text-bottom;">
                    <span class="required">*</span>
                    Nachricht:
                </td>
                <td>
                                            <textarea class="q1" name="login" type="text" th:field="*{message}"
                                                      th:required="required"
                                                      rows="10" cols="100"/>
                                            <span th:if="${#fields.hasErrors('message')}" class="error"
                                                  th:errors="*{message}">Bitte geben Sie Ihre E-Mail ein.</span>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="buttons">
            <div class="right">
                <button type="submit" class="button">
                    <span>Senden</span>
                </button>
                <!--<a onclick="$('#contactForm').submit();" class="button">-->
                <!--<span>Senden</span>-->
                <!--</a>-->
            </div>
        </div>
    </div>
</form>
</body>
</html>