<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/template">
<head>
    <title>Impressum</title>
</head>
<body>
<div th:fragment="content">
    <div id="notification"></div>
    <div id="content">
        <div class="box">
            <div class="box-heading">Impressum</div>
            <div class="box-content">
                <div class="box-product">
                    <div class='impressum'>
                        <p>Angaben gemäß § 5 TMG</p>

                        <p>Alexander Popow <br />
                            Onstmettinger Weg, 21<br />
                            70567 Stuttgart <br />
                        </p>

                        <p>
                            <strong>Vertreten durch: </strong>
                            <br />
                            Alexander Popow<br />
                        </p>

                        <p>
                            <strong>Kontakt:</strong>
                            <br /><br />
                            E-Mail: <a href='mailto:info@medizin-finder.de'>info@medizin-finder.de</a><br />
                            Kontaktformular: <a th:href="@{/kontakt}">Kontakt</a></p><br />

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>