<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/template">
<head>
    <title>Medikamente Preisvergleich - Medikamente günstig für alle</title>
    <meta name="description" content="Medikamenten-Preisvergleich, günstige Preise und Bewertungen zu vielen Medikamenten finden Sie bei Medizin-Finder.de" />
</head>
<body>
<div th:fragment="content">
    <div th:id="content">
        <div th:replace="fragments/message :: message">
            Message
        </div>

        <div th:class="example-wrapper">
            <div th:id="services-example-1" th:class="theme1">
                <ul>
                    <!--	###############		-	SLIDE 4	-	###############	 -->
                    <li th:each="article : ${articles}">
                        <img th:alt="${article.name}" th:width="150" th:height="110" th:class="thumb" th:src="${article.imageURL}"
                             th:data-bw="${article.imageURL}"/>

                        <div style="margin-top:16px"></div>
                        <h2 style="height: 75px" th:text="${article.name}">Name</h2>

                        <p style="height: 100px; vertical-align: bottom;" th:text="${article.description}">
                            Beschreibung</p>

                        <div style="float: left; width: 60%" th:if="${articleHelper.getBestDiscount(article.prices).get().discount > 0}">
                            <span th:text="${#numbers.formatDecimal(articleHelper.getBestDiscount(article.prices).get().price, 0, 'COMMA', 2, 'POINT') + ' €'}">Preis</span>
                        </div>
                        <div style="float: left; width: 100%; height: 37px;" th:if="${articleHelper.getBestDiscount(article.prices).get().discount le 0}">
                            <span th:text="${#numbers.formatDecimal(articleHelper.getBestDiscount(article.prices).get().price, 0, 'COMMA', 2, 'POINT') + ' €'}">Preis</span>
                        </div>
                        <div th:if="${articleHelper.getBestDiscount(article.prices).get().discount > 0}">
                                <span style="float:left;width:40%;line-height:1em; font-size: 18px; color: #E31010"
                                      th:text="${articleHelper.getBestDiscount(article.prices).get().discount + ' %'}">Preis</span>
                            <span style="color: #E31010">Ersparnis</span>
                        </div>
                        <a class="buttonlight morebutton" href="" style="z-index: 2000">Siehe mehr</a>

                        <!--
                        ***********************************************************************************************************
                                -	HERE YOU CAN DEFINE THE EXTRA PAGE WHICH SHOULD BE SHOWN IN CASE THE "BUTTON" HAS BEED PRESSED -
                        ***********************************************************************************************************
                        -->
                        <div class="page-more">
                            <img width="150" height="110" class="big-image" th:src="${article.imageURL}"/>
                            <a th:alt="${article.name}" class="buttonlight morebutton" style="position: relative; top: 175px; right: 186px;"
                               th:href="@{/preisvergleich/} + ${article.id} + '/' + ${urlEncoder.encodeURL(article.name)}">Zum
                                Preisvergleich</a>

                            <div style="overflow-y: scroll; height: 400px;">
                                <div class="details_double">
                                    <h2 th:text="${article.name}">Name</h2>

                                    <p th:utext="${article.fullDescription}" >Beschreibung</p>
                                </div>
                            </div>
                            <div class="closer"></div>
                        </div>
                    </li>
                </ul>
                <!--	###############		-	TOOLBAR (LEFT/RIGHT) BUTTONS	-	###############	 -->
                <div class="toolbar">
                    <div class="left"></div>
                    <div class="right"></div>
                </div>
            </div>
        </div>
        <script type="text/javascript">

            var tpj = jQuery;
            tpj.noConflict();

            tpj(document).ready(function () {

                if (tpj.fn.cssOriginal != undefined)
                    tpj.fn.css = tpj.fn.cssOriginal;

                tpj('#services-example-1').services(
                        {
                            width: 920,
                            height: 448,
                            slideAmount: 5,
                            slideSpacing: 30,
                            carousel: "on",
                            touchenabled: "off",
                            mouseWheel: "off",
                            hoverAlpha: "off", // Turns Alpha Fade on/off by Hovering
                            slideshow: 5000, // 0 = No SlideShow, 1000 = 1 sec Slideshow (rotating automatically)
                            hovereffect: "off", // All Hovereffect on/off
                            callBack: function () {
                            }		//Callback any Function after loaded

                        });
            });
        </script>

        <div class="box" style="margin-top: 20px; float: left; width: 49%; border-bottom: none;">
            <div class="box-heading">TOP-Apotheken und Anbieter</div>
            <div class="box-content box-evaluation">
                <div th:if="${pharmacies.isEmpty()}"
                     style="border-bottom: 1px solid #E5E5E5; padding: 5px 0px 5px 10px;">
                    Zurzeit gibt es keine Anbieter mit vorhandenen Bewertungen.
                </div>
                <div th:each="pharmacy : ${pharmacies}" class="evaluation-box"
                     style="height: 60px; border-bottom: 1px solid #E5E5E5; padding: 5px 0px 5px 10px;">
                    <h2>
                        <!--<c:url value="/apotheke/${pharmacy.name}.html" var="pharmacyURL"/>-->
                        <a th:alt="${pharmacy.displayName}" th:href="@{/apotheke/} + ${pharmacy.id} + '/' + ${pharmacy.displayName}"
                           th:text="${pharmacy.displayName}"></a>
                    </h2>

                    <div style="float:left">
                        <img width="86" height="34" th:alt="${pharmacy.displayName}" th:src="${pharmacy.logoURL}"/>
                    </div>

                    <div th:id="${'fixed_' + pharmacy.id}" style="margin-left: 165px"></div>
                    <span style="margin-left: 72px" th:text="${pharmacy.evaluations.size() + ' Bewertung(en)'}">Bewertungen</span>

                    <script th:inline="javascript">/*<![CDATA[*/
                    var prefix = [[${pharmacy.id}]];
                    var id = '#fixed_' + prefix;
                    jQuery(id).raty({
                        readOnly: true,
                        start: [[${evaluationHelper.calculateRating(pharmacy.evaluations)}]],
                        path: [[@{/images/raiting/}]]});
                    /*]]>*/</script>
                </div>
            </div>
        </div>

        <div class="box" style="margin-top: 20px; margin-left: 51%; border-bottom: none;">
            <div class="box-heading">Aktuelle Bewertungen</div>
            <div class="box-content box-evaluation">
                <div th:if="${evaluations.isEmpty()}"
                     style="border-bottom: 1px solid #E5E5E5; padding: 5px 0px 5px 10px;">
                    Zurzeit gibt es keine Bewertungen.
                </div>
                <div th:each="evaluation : ${evaluations}" class="evaluation-box"
                     style="height: 60px; border-bottom: 1px solid #E5E5E5; padding: 5px 0px 5px 10px;">
                    <span style="float: left" th:text="${T(com.pharmacy.web.helper.DateTimeConverter).convert(evaluation.creationDate)}"></span>
                    <span style="float: left">&nbsp; | &nbsp;</span>

                    <div th:id="${'current_evaluation_' + evaluation.id}"></div>

                    <h2 class="ellipsis">
                        <a th:alt="${evaluation.pharmacy.displayName}" th:href="@{/apotheke/} + ${evaluation.pharmacy.id} + '/' + ${evaluation.pharmacy.displayName}"
                           th:text="${evaluation.name}"></a>
                    </h2>

                    <div class="ellipsis" th:text="${evaluation.description}"></div>

                    <script th:inline="javascript">/*<![CDATA[*/
                    var prefix = [[${evaluation.id}]];
                    var id = '#current_evaluation_' + prefix;
                    jQuery(id).raty({
                        readOnly: true,
                        start: [[${evaluation.points}]],
                        path: [[@{/images/raiting/}]]});

                    /*]]>*/</script>

                </div>
            </div>
        </div>

        <div class="box">
            <div class="box-heading">Medizin-Finder.de Onlinevergleich für Apotheken</div>
            <div class="box-content">
                <div style="padding: 5px 0px 5px 10px;">
                    Gesundheit ist für jeden von uns enorm wichtig. Beim Gesundbleiben können Ihnen die richtige Medizin und entsprechende Nahrungsergänzungsmittel helfen. Wer sich und seiner Gesundheit etwas Gutes tun möchte, muss daher ab und an schon mal tief in die eigene Tasche greifen, denn viele Präparate werden von den gesetzlichen Krankenkassen nicht mehr bezahlt oder bezuschusst. Umso wichtiger ist es dann, die Preise der unterschiedlichen Apotheken zu vergleichen.
                    <br /><br />
                    <h2>Sparen mit dem Preisvergleich von Apotheken</h2>
                    Besuchen Sie unsere Seite medizin-finder.de, wenn Sie nicht unnötig viel Geld für Medikamente oder medizinische Produkte ausgeben möchten. Bei medizin-finder.de können Sie die Preise von vielen unterschiedlichen Versandapotheken ganz einfach online vergleichen. Wenn Sie also Geld sparen möchten, schauen Sie sich online um und finden Sie auf diese Weise den für Sie günstigsten Anbieter für Ihr Medikament. Über das Portal können Sie als Kunde die Preise von rund 80.000 unterschiedlichen Medikamenten und Medizinprodukten vergleichen. Die Preise werden durch das Portal täglich aktualisiert und sind daher immer auf dem neuesten Stand.
                    <br /><br />
                    <h2>Wie funktioniert der Medizin Preisvergleich online?</h2>
                    Sie möchten Ihre Reiseapotheke neu bestücken oder Sie suchen nach einem bestimmten Medikament? Dann tippen Sie bei www.medizin-finder.de ganz einfach den Namen des Produkts in das obere Suchfeld ein. Danach wird Ihnen angezeigt, welche Apotheken das Präparat für Sie bereithalten und was es kostet. Dasselbe gilt für medizinische Produkte verschiedenster Art. Möchten Sie ein neues Blutdruckgerät kaufen oder ein Fieberthermometer mit Digitalanzeige erwerben? Geben Sie auch diesen Artikel in das Suchfeld ein und bestellen Sie bei dem günstigsten Anbieter. Auf diese Weise können Sie beim Einkauf von Medizinprodukten, Nahrungsergänzungsmitteln und Medikamenten nicht nur Geld, sondern auch viel Zeit sparen. Schränken Sie Ihre Suche bei Bedarf noch weiter ein, indem Sie nur nach bestimmten Anbietern suchen.
                    <br /><br />
                    <h2>Bestellen Sie online mit Hilfe des Portals medizin-finder.de:</h2>
                    <ul>
                        <li>Medikamente</li>
                        <li>Nahrungsergänzungsmittel und Vitamine</li>
                        <li>Medizinprodukte</li>
                        <li>Hilfsmittel</li>
                        <li>Inkontinenzprodukte</li>
                        <li>Artikel für die Säuglingspflege usw.</li>
                    </ul>
                    <br /><br />
                    Die Seite macht es Ihnen leicht, zum passenden Artikel zu gelangen. Registrieren Sie sich mit einem Passwort und hinterlassen Sie bei Bedarf nach Ihrer Bestellung eine Bewertung Ihres Einkaufs. So tragen Sie zur Transparenz des Portals bei.
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>