<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/template">
<head>
    <title>Einloggen</title>
    <meta name="description" content="Einloggen oder Registrieren - Loggen Sie sich in Ihr Konto ein oder erstellen Sie ein neues Konto bei Medizin-Finder.de" />
</head>
<body>
<div th:fragment="content">
    <script th:inline="javascript"> /*<![CDATA[*/

        function openDialog() {
            $("#dialog").modal();
        }
        /*]]>*/</script>

    <!--<h1>Einloggen</h1>-->

    <div id="content">
        <div class="box">
            <div class="box-heading">Einloggen</div>
            <div class="box-container">
                <div class="login-content">
                    <div class="left">
                        <h2>Neu bei medizin-finder.de?</h2>

                        <div class="content">
                            <h2 style="color: black; font-size: 16px">Jetzt bei medizin-finder.de anmelden</h2>
                            <a th:href="@{/registration}" class="button">
                                <span>Anmelden</span>
                            </a>
                        </div>
                    </div>
                    <div class="right">
                        <form id="login" name='loginForm' th:action="@{/login}" method='POST'>
                            <div class="content">
                                <div class="error" th:if="${error != null}" th:text="${error}">Fehler</div>
                                <b class="padd-form">Benutzername:</b>
                                <input class="q1 margen-bottom" name="j_username" value="" type="text" required="required"/>
                                <b class="padd-form">Password:</b>
                                <input class="q1 margen-bottom" name="j_password" value="" type="password" required="required"/>
                                <br/>

                                <div>
                                    <a id="link-login" class="link-login" onclick="openDialog()">Passwort vergessen?</a>
                                </div>
                                <button class="button"><span>Login</span></button>
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                            </div>
                        </form>

                        <div id="dialog" title="Basic dialog" style="display: none">
                            <form id="passwort-form" th:action="@{/login/passwort}" method='POST'>
                                <h1>Ich habe mein Passwort vergessen</h1>
                                <div style="margin-top: 30px">
                                    <form>
                                        <h2 class="padd-form">E-Mail Adresse:</h2>
                                        <input id="reset-passwort-email" class="q1 margen-bottom" name="email" value="" type="email" style="width: 100%" required="required"/>
                                        <span th:if="${changePasswordError != null}" class="error" th:text="${changePasswordError}">Fehler</span>
                                        <button class="button" style="margin-top: 10px"><span>E-Mail versenden</span></button>
                                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                                    </form>
                                </div>
                            </form>
                        </div>
                        <!-- preload the images -->
                        <div style='display:none'>
                            <img th:src='@{/images/x.png}' alt='' />
                        </div>

                        <script th:inline="javascript">
                            var changePasswordError = [[${changePasswordError}]];
                            console.log("error: " + changePasswordError);
                            if(changePasswordError.length != 0) {
                                openDialog();
                            }
                        </script>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>