<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout/template :: page">
<head>
    <title>Passwort zurücksetzen</title>
</head>
<body>
<div th:fragment="content">
    <div id="content">
        <h1>Password zurücksetzen</h1>

        <div class="box">
            <div class="box-heading">Password zurücksetzen</div>
            <div class="box-content" style="padding: 10px">
                <form th:action="@{/login/passwort/reset}" method="post" id="password-reset" th:object="${resetForm}">

                    <input type="hidden" th:name="key" th:field="*{key}"/>

                    <h2>
                        Passwort:
                    </h2>

                    <div class="content">
                        <table class="form">
                            <tbody>
                            <tr>
                                <td>
                                    <span class="required">*</span>
                                    <span>Passwort</span>
                                </td>
                                <td>
                                    <input id="newPassword" class="q1" name="newPassword" value="" type="password"
                                           th:field="*{newPassword}"/>
                                    <span th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"
                                          class="error">Bitte geben Sie Ihre E-Mail-Adresse ein.</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="required">*</span>
                                    <span>Passwort</span>
                                </td>
                                <td>
                                    <input id="newPasswordRepeat" class="q1" name="newPasswordRepeat" value="" type="password"
                                           th:field="*{newPasswordRepeat}"/>
                                    <span th:if="${#fields.hasErrors('newPasswordRepeat')}" th:errors="*{newPasswordRepeat}"
                                          class="error">Bitte geben Sie Ihre E-Mail-Adresse ein.</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="buttons">
                        <div class="right">
                            <a onclick="$('#password-reset').submit();" class="button">
                                <span>
                                    <span>Speichern</span>
                                </span>
                            </a>
                        </div>
                    </div>

                    <div id="pswd_info">
                        <h2>Sicherheit:</h2>
                        <ul>
                            <li id="letter" class="invalid">Mindestens <strong>eine kleine Buchstabe</strong></li>
                            <li id="capital" class="invalid">Mindestens <strong>eine große Buchstabe</strong></li>
                            <li id="number" class="invalid">Mindestens <strong>eine Ziffer</strong></li>
                            <li id="length" class="invalid">Mindestens <strong>6 Zeichen</strong></li>
                        </ul>
                    </div>

                    <script type="text/javascript"> /*<![CDATA[*/
                    $(document).ready(function () {
                        $('input[type=password]').keyup(function () {
                            validate();
                        }).focus(function () {
                            var passwordInfoDialog = $('#pswd_info');
                            var passwordInput = $('#newPassword');
                            var passwordInputPosition = passwordInput.position();
                            passwordInfoDialog.css("right", passwordInputPosition.right);
                            passwordInfoDialog.css("top", passwordInputPosition.top + 45);
                            $('#pswd_info').show();
                        }).blur(function () {
                            $('#pswd_info').hide();
                        });
                    });

                    function validate() {
                        var pswd = $('#newPassword').val();
                        //validate the length

                        //validate the length
                        if (pswd.length < 6) {
                            $('#length').removeClass('valid').addClass('invalid');
                        } else {
                            $('#length').removeClass('invalid').addClass('valid');
                        }
                        //validate letter
                        if (pswd.match(/[a-z]/)) {
                            $('#letter').removeClass('invalid').addClass('valid');
                        } else {
                            $('#letter').removeClass('valid').addClass('invalid');
                        }

                        //validate capital letter
                        if (pswd.match(/[A-Z]/)) {
                            $('#capital').removeClass('invalid').addClass('valid');
                        } else {
                            $('#capital').removeClass('valid').addClass('invalid');
                        }

                        //validate number
                        if (pswd.match(/\d/)) {
                            $('#number').removeClass('invalid').addClass('valid');
                        } else {
                            $('#number').removeClass('valid').addClass('invalid');
                        }

                    }
                    /*]]>*/</script>

                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>