<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/template">
<head>
    <title th:text="${'Preisvergleich zu ' + article.name}"></title>
    <meta name="description" th:content="${'Preisvergleich zu ' + article.name + '. Medikamete günstig für alle bei Medizin-Finder.de'}" />

</head>
<body>
<div th:fragment="content">
    <!--<h1>Suchergebnisse zu-->
    <!--<span th:text="${parameter}">Parameter</span>-->
    <!--</h1>-->
    <div id="notification"></div>
    <div id="content">

        <!--<div style="width: 250px">-->
        <!--Test-->
        <!--</div>-->

        <div class="box">
            <div class="box-heading">Preisvergleich <span th:text="${article.name}"></span></div>
            <div class="box-content">
                <div class="box-product">
                    <div style="padding: 10px;" th:if="${article.getPrices().isEmpty()}">
                        <h2>Zu Ihrer Suche wurde leider nichts gefunden</h2>

                        <h3>Für den Suchbegriff wurden keine Produkte gefunden.</h3>

                        <h3>Hinweise zur Suche:</h3>
                        <ul>
                            <li>
                                Bitte achten Sie auf die richtige Schreibweise des Suchwortes
                            </li>
                            <li>
                                Vermeiden Sie Umlaute oder Sonderzeichen
                            </li>
                        </ul>
                    </div>

                    <table border="0" cellpadding="5" cellspacing="0" style="width: 100%">
                        <tr th:each="price : ${article.getPrices()}">
                            <td style="border-bottom: 1px solid #E5E5E5">
                                <table id="priceCheck" style="width: 100%">
                                    <tr>
                                        <td class="icon" style="width: 100px">
                                            <div style="float: left; width: 100px; height: 100px">
                                                <a th:href="${price.deepLink}" th:title="${article.name}" target="_blank">
                                                    <img th:alt="${price.pharmacy.displayName}"
                                                         th:src="${price.pharmacy.logoURL}" width="100" height="40"/>
                                                </a>
                                            </div>
                                        </td>


                                        <td style="vertical-align: baseline;">
                                            <div style="margin-left: 25px; float: left;">
                                                <h4 style="margin: 0;">
                                                    <!--<%&#45;&#45;<c:url value="/produkte/${article.articelNumber}/${article.name}" var="check" />&#45;&#45;%>-->
                                                    <a th:href="${price.deepLink}" th:text="${article.name}" th:title="${article.name}" target="_blank">URL</a>
                                                </h4>
                                                <br/>

                                                <div th:id="${'fixed_' + price.id}"></div>
                                                <span style="font-size: 15px;"
                                                      th:text="${price.pharmacy.evaluations.size()}"></span> <span>Bewertungen</span>
                                                <script th:inline="javascript">/*<![CDATA[*/
                                                var prefix = [[${price.id}]];
                                                var id = '#fixed_' + prefix;
                                                jQuery(id).raty({
                                                    readOnly: true,
                                                    start: [[${price.pharmacy.totalEvaluationPoints}]],
                                                    path: [[@{/images/raiting/}]]
                                                });

                                                /*]]>*/</script>
                                                <br/>

                                                <a th:href="@{/apotheke/{id}/{name}(id=${price.pharmacy.id},name=${price.pharmacy.displayName})}">Apothekenprofil</a>
                                                <br/><br/>
                                            </div>
                                        </td>
                                        <td style="width: 185px; vertical-align: top;">
                                            <div style="font-size: 22px; text-align: right;"><span
                                                    th:text="${articleHelper.round(price.price)}"></span> €
                                            </div>
                                            <div style="font-size: 14px; text-align: right;">
                                                <span>+ Versand </span><span
                                                    th:text="${articleHelper.round(price.pharmacy.shipping)}"> </span> €
                                            </div>
                                            <div style="font-size: 14px; text-align: right;">
                                                <span>Versandkostenfrei ab </span> <span
                                                    th:text="${articleHelper.round(price.pharmacy.freeShipping)}"></span> €
                                            </div>
                                        </td>
                                        <td style="width: 130px; text-align: right; padding-right: 20px; vertical-align: top;">
                                            <div>
                                                <a class="buttonlight morebutton" th:href="${price.deepLink}" title="Hier bestellen" target="_blank">Hier
                                                    bestellen</a>
                                            </div>
                                        </td>

                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>


                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>