<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/template">
<head>
    <title>Datenschutz</title>
</head>
<body>
<div th:fragment="content">
    <div id="notification"></div>
    <div id="content">
        <div class="box">
            <div class="box-heading">Datenschutz</div>
            <div class="box-content">
                <div class="box-product">
                    <div style="padding: 10px; font-size: 15px !important; line-height: 22px !important;">
                        <h1>Haftungshinweis</h1>

                        <p>
                            Trotz sorgfältiger inhaltlicher Kontrolle Übernehmen wir keine Haftung für die Inhalte
                            externer
                            Links. Für den Inhalt der verlinkten Seiten sind ausschliesslich deren Betreiber
                            verantwortlich.
                            Die Nutzung der Website www.Medizin-Finder.de und sämtlicher hier aufgeführten Informationen
                            oder
                            Daten unterliegen unseren Nutzungsbedingungen.
                        </p>

                        <h1>Nutzungsbedingungen</h1>

                        <p>
                            Medizin-Finder.de ist eine Suchmaschine für Arzneimittel und Gesundheitsprodukte. Sie können
                            auf
                            www.Medizin-Finder.de keine Produkte kaufen, es werden lediglich aktuelle Preise von
                            Online-Apotheken
                            ohne Anspruch auf Vollständigkeit dargestellt.
                        </p>

                        <h1>Daten zu Produkten</h1>

                        <p>
                            Bei allen auf den Webseiten veröffentlichten Produktpreisen handelt es sich um Preise für
                            apothekenpflichtige Medikamente und sonstige Gesundheitsprodukte. Alle angegebenen Preise
                            verstehen sich inklusive der aktuellen gesetzlichen Umsatzsteuer (Mehrwertsteuer). Ist ein
                            Produkt in der Medizin-Finder.de Datenbank enthalten, werden die Artikelbezeichnung und die
                            Preise von
                            einem oder mehreren Anbietern zusammen mit den Versandkosten und der jeweils geltenden
                            Grenze
                            für versandkostenfreie Lieferungen auf der Informationsplattform dargestellt. Die
                            Darstellung
                            dieser Informationen erfolgt kostenlos
                        </p>

                        <h1>Haftungsausschluss</h1>

                        <p>
                            Informationen auf dieser Website werden ausschließlich für Zwecke des Preisvergleichs und
                            ohne
                            Gewähr zur Verfügung gestellt. Die hier veröffentlichten Nutzungsbedingungen gelten für alle
                            Dienste, die unter der Internetadresse www.Medizin-Finder.de angeboten werden. Sie sind
                            jeweils
                            in
                            der aktuellen Fassung gültig, die zum Zeitpunkt der Inanspruchnahme von
                            www.Medizin-Finder.de
                            durch
                            den Internetnutzer veröffentlicht sind. Der Nutzer erkennt durch den Gebrauch der Dienste
                            diese
                            Nutzungsbedingungen an.
                            <br/><br/>
                            www.Medizin-Finder.de Übernimmt keinerlei Gewähr für die Aktualität, Korrektheit,
                            Vollständigkeit
                            oder Qualität der bereitgestellten Informationen, sowie für die Erreichbarkeit seiner
                            Internetseiten und für deren technische Verwendbarkeit. Haftungsansprüche gegen
                            Medizin-Finder.de,
                            welche sich auf Schäden materieller oder ideeller Art beziehen, die durch die Nutzung oder
                            Nichtnutzung der dargebotenen Informationen bzw. durch die Nutzung fehlerhafter und
                            unvollständiger Informationen oder verursacht wurden sind grundsätzlich ausgeschlossen,
                            sofern
                            seitens Medizin-Finder.de kein nachweislich vorsätzliches oder grob fahrlässiges Verschulden
                            vorliegt.
                            Medizin-Finder.de behält es sich ausdrücklich vor, Teile der Seiten oder das gesamte Angebot
                            ohne
                            gesonderte Ankündigung zu verändern, zu ergänzen, zu löschen oder die Veröffentlichung
                            zeitweise
                            oder endgültig einzustellen.
                            <br/><br/>
                            Alle bei Medizin-Finder.de dargestellten Daten wie Preise, Beschreibung der Produktangebote
                            oder
                            andere
                            Informationen werden durch die teilnehmenden Anbieter selbst Übermittelt. Für die Angebote
                            der
                            jeweiligen Online-Apotheke und die Inhalte der jeweils verlinkten Seiten haften allein die
                            jeweiligen Anbieter.
                        </p>

                        <h1>Datenschutz</h1>

                        <p>
                            Medizin-Finder.de nimmt den Schutz Ihrer persönlichen Daten sehr ernst. Wir behandeln Ihre
                            personenbezogenen Daten vertraulich und entsprechend der gesetzlichen
                            Datenschutzvorschriften sowie dieser Datenschutzerklärung.
                            <br/>
                            Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener Daten möglich.
                            Soweit auf unseren Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder
                            E-Mail-Adressen) erhoben werden, erfolgt dies, soweit möglich, stets auf freiwilliger Basis.
                            Diese Daten werden ohne Ihre ausdrückliche Zustimmung nicht an Dritte weitergegeben.
                            Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per
                            E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff
                            durch Dritte ist nicht möglich.
                        </p>

                        <h1>Cookies</h1>

                        <p>
                            Die Internetseiten verwenden teilweise so genannte Cookies. Cookies richten auf Ihrem
                            Rechner keinen Schaden an und enthalten keine Viren. Cookies dienen dazu, unser Angebot
                            nutzerfreundlicher, effektiver und sicherer zu machen. Cookies sind kleine Textdateien, die
                            auf Ihrem Rechner abgelegt werden und die Ihr Browser speichert.
                            <br/><br/>
                            Die meisten der von uns verwendeten Cookies sind so genannte „Session-Cookies“. Sie werden
                            nach Ende Ihres Besuchs automatisch gelöscht. Andere Cookies bleiben auf Ihrem Endgerät
                            gespeichert, bis Sie diese löschen. Diese Cookies ermöglichen es uns, Ihren Browser beim
                            nächsten Besuch wiederzuerkennen.
                            <br/><br/>
                            Sie können Ihren Browser so einstellen, dass Sie über das Setzen von Cookies informiert
                            werden und Cookies nur im Einzelfall erlauben, die Annahme von Cookies für bestimmte Fälle
                            oder generell ausschließen sowie das automatische Löschen der Cookies beim Schließen des
                            Browser aktivieren. Bei der Deaktivierung von Cookies kann die Funktionalität dieser Website
                            eingeschränkt sein.
                        </p>

                        <h1>Server-Log-Files</h1>

                        <p>
                            Der Provider der Seiten erhebt und speichert automatisch Informationen in so genannten
                            Server-Log Files, die Ihr Browser automatisch an uns übermittelt. Dies sind:

                        <ul>
                            <li>Browsertyp/ Browserversion</li>
                            <li>verwendetes Betriebssystem</li>
                            <li>Referrer URL</li>
                            <li>Hostname des zugreifenden Rechners</li>
                            <li> Uhrzeit der Serveranfrage</li>
                        </ul>
                        <br />
                        Diese Daten sind nicht bestimmten Personen zuordenbar. Eine Zusammenführung dieser Daten mit
                        anderen Datenquellen wird nicht vorgenommen. Wir behalten uns vor, diese Daten nachträglich
                        zu prüfen, wenn uns konkrete Anhaltspunkte für eine rechtswidrige Nutzung bekannt werden.
                        </p>

                        <h1>Datenschutzerklärung für die Nutzung von Google Analytics</h1>
                        <p>
                            Diese Website nutzt Funktionen des  Webanalysedienstes Google Analytics. Anbieter ist die Google Inc. 1600 Amphitheatre Parkway Mountain View, CA 94043, USA. Google Analytics verwendet sog. "Cookies". Das sind Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch Sie ermöglichen. Die durch den Cookie erzeugten Informationen über Ihre Benutzung dieser Website werden in der Regel an einen Server von Google in den USA übertragen und dort gespeichert.
                            <br /><br />
                            Im Falle der Aktivierung der IP-Anonymisierung auf dieser Webseite wird Ihre IP-Adresse von Google jedoch innerhalb von Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten des Abkommens über den Europäischen Wirtschaftsraum zuvor gekürzt. Nur in Ausnahmefällen wird die volle IP-Adresse an einen Server von Google in den USA übertragen und dort gekürzt. Im Auftrag des Betreibers dieser Website wird Google diese Informationen benutzen, um Ihre Nutzung der Website auszuwerten, um Reports über die Websiteaktivitäten zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen gegenüber dem Websitebetreiber zu erbringen. Die im Rahmen von Google Analytics von Ihrem Browser übermittelte IP-Adresse wird nicht mit anderen Daten von Google zusammengeführt.
                            <br /><br />
                            Sie können die Speicherung der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website vollumfänglich werden nutzen können. Sie können darüber hinaus die Erfassung der durch das Cookie erzeugten und auf Ihre Nutzung der Website bezogenen Daten (inkl. Ihrer IP-Adresse) an Google sowie die Verarbeitung dieser Daten durch Google verhindern, indem sie das unter dem folgenden Link verfügbare Browser-Plugin herunterladen und installieren: http://tools.google.com/dlpage/gaoptout?hl=de
                        </p>

                        <h1>Urheberrechtshinweis</h1>

                        <p>
                            Alle Inhalte (Text-, Zahlen- und Bildmaterial) auf www.Medizin-Finder.de sowie die
                            Gestaltung
                            der
                            Seiten unterliegen dem Urheberrecht und werden Internetnutzern ausschließlich zum privaten,
                            persönlichen Gebrauch zur Verfügung gestellt. Jede darüber hinausgehende Nutzung,
                            insbesondere
                            jede gewerbliche Nutzung, auch auszugsweise, ist unzulässig und strafbar. Solche Handlungen
                            ohne
                            ausdrückliche Genehmigung verstoßen gegen die Vorschriften des Urheberrechts und werden
                            urheber-
                            und ggf. strafrechtlich verfolgt.
                        </p>

                        <p>
                            Quellverweis: <a href="http://www.e-recht24.de">eRecht24</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>