<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/template">
<head>
    <title>Registrierung</title>
    <meta name="description" content="Registrierung - Erstellen Sie ein neues Konto bei Medizin-Finder.de" />
</head>
<body>
<div th:fragment="content">
    <div id="content">
        <!--<h1>-->
            <!--Registrieren bei Medizin-Fider.de-->
        <!--</h1>-->

        <div class="box" style="position: relative">
            <div class="box-heading">Registrieren bei Medizin-Fider.de</div>
            <div class="box-container">
                <p>
                    <span>Sie haben sich schon angemeldet?</span>
                    <a th:href="@{/login}">
                        Einloggen
                    </a>
                </p>

                <form th:action="@{/registration}" method="post" id="register" th:object="${command}">
                    <h2>
                        Persönliche Daten:
                    </h2>

                    <div class="content">
                        <table class="form">
                            <tbody>
                            <tr>
                                <td>
                                    <span class="required">*</span>
                                    <span>Benutzername</span>
                                </td>
                                <td>
                                    <input class="q1" name="login" type="text" th:field="*{login}" required="required"/>
                                    <span th:if="${#fields.hasErrors('login')}" class="error" th:errors="*{login}">Bitte geben Sie Ihren Benutzername ein.</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="required">*</span>
                                    <span>Vorname</span>
                                </td>
                                <td>
                                    <input class="q1" name="firstName" type="text" th:field="*{firstName}" required="required"/>
                                    <span th:if="${#fields.hasErrors('firstName')}" class="error" th:errors="*{firstName}">Bitte geben Sie Ihren Vornamen ein.</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="required">*</span>
                                    <span>Nachname</span>
                                </td>
                                <td>
                                    <input class="q1" name="lastName" type="text" th:field="*{lastName}" required="required"/>
                                    <span th:if="${#fields.hasErrors('lastName')}" class="error" th:errors="*{lastName}">Bitte geben Sie Ihren Nachnamen ein.</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="required">*</span>
                                    <span>E-mail</span>
                                </td>
                                <td>
                                    <input class="q1" name="email" value="" type="email" th:field="*{email}" required="required"/>
                                    <span th:if="${#fields.hasErrors('email')}" class="error" th:errors="*{email}">Bitte geben Sie Ihre E-Mail-Adresse ein.</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <h2>
                        Passwort:
                    </h2>

                    <div class="content">
                        <table class="form">
                            <tbody>
                            <tr>
                                <td>
                                    <span class="required">*</span>
                                    <span>Passwort</span>
                                </td>
                                <td>
                                    <input id="password" class="q1" name="password" value="" type="password" required="required"
                                           th:field="*{password}"/>
                                    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                                          class="error">Bitte geben Sie Ihre E-Mail-Adresse ein.</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="buttons">
                        <div class="right">
                            <span>Mit meiner Anmeldung akzeptiere ich der</span>
                            <a class="colorbox cboxElement" th:href="@{/datenschutz}" target="_blank" alt="General Terms">
                                <b>
                                    Datenschutz
                                </b>
                            </a>
                            <input name="acceptedGeneralTerms" value="1" type="checkbox" th:field="*{acceptedPrivacy}" required="required"/>
                            <span th:if="${#fields.hasErrors('acceptedPrivacy')}" class="error" th:utext="#{message.PrivacyNotAccepted}">Bitte geben Sie Ihre E-Mail-Adresse ein.</span>
                            <button class="button"><span>Weiter</span></button>
                        </div>
                    </div>

                    <div id="pswd_info">
                        <h2>Sicherheit:</h2>
                        <ul>
                            <li id="letter" class="invalid">Mindestens <strong>eine kleine Buchstabe</strong></li>
                            <li id="capital" class="invalid">Mindestens <strong>eine große Buchstabe</strong></li>
                            <li id="number" class="invalid">Mindestens <strong>eine Ziffer</strong></li>
                            <li id="length" class="invalid">Mindestens <strong>6 Zeichen</strong></li>
                        </ul>
                    </div>

                    <script type="text/javascript"> /*<![CDATA[*/
                    $(document).ready(function () {
                        $('input[type=password]').keyup(function () {
                            validate();
                        }).focus(function () {
                            var passwordInfoDialog = $('#pswd_info');
                            var passwordInput = $('#password');
                            var passwordInputPosition = passwordInput.position();
                            passwordInfoDialog.css("right", passwordInputPosition.right);
                            passwordInfoDialog.css("top", passwordInputPosition.top+45);
                            $('#pswd_info').show();
                        }).blur(function () {
                            $('#pswd_info').hide();
                        });
                    });

                    function validate() {
                        var pswd = $('#password').val();
                        //validate the length

                        //validate the length
                        if (pswd.length < 6) {
                            $('#length').removeClass('valid').addClass('invalid');
                        } else {
                            $('#length').removeClass('invalid').addClass('valid');
                        }
                        //validate letter
                        if (pswd.match(/[a-z]/)) {
                            $('#letter').removeClass('invalid').addClass('valid');
                        } else {
                            $('#letter').removeClass('valid').addClass('invalid');
                        }

                        //validate capital letter
                        if (pswd.match(/[A-Z]/)) {
                            $('#capital').removeClass('invalid').addClass('valid');
                        } else {
                            $('#capital').removeClass('valid').addClass('invalid');
                        }

                        //validate number
                        if (pswd.match(/\d/)) {
                            $('#number').removeClass('invalid').addClass('valid');
                        } else {
                            $('#number').removeClass('valid').addClass('invalid');
                        }

                    }
                    /*]]>*/</script>

                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>