<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/template">
<head>
    <title th:text="${'Alle Produkte zu ' + searchResult.parameter}">Title</title>
    <meta name="description" th:content="${'Tolle Angebote zu ' + searchResult.parameter + ' bei Medikamenten Preisvergleich Medizin-Finder.de. Medikamete günstig für alle bei Medizin-Finder.de'}" />
</head>
<body>
<div th:fragment="content">
    <div id="notification"></div>
    <div id="content">
        <form th:object="${searchResult}" id="searchResult">

            <div id="column-left" th:if="${!searchResult.facetedPage.getContent().isEmpty()}">
                <div class="box category">
                    <div class="box-heading">Herrsteller</div>
                    <div class="box-content">
                        <div class="box-category">
                            <input type="hidden" th:field="*{parameter}"/>

                            <div th:with="facet=${searchResult.facetedPage.getFacet('prices.pharmacy.name')}" style="max-height: 105px; overflow: auto">
                                <div th:each="term : ${facet.terms}">
                                    <input type="checkbox" class="name-category-checkbox" th:field="*{pharmacies}"
                                           th:value="${term.term}" th:text="${term.term}"
                                           onclick="$('#searchResult').submit();"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="box" th:style="${!searchResult.facetedPage.getContent().isEmpty() ? 'margin-left: 250px' : ''}">
                <div class="box-heading">
                    <span>Suchergebnisse zu <span th:text="*{parameter}"></span></span>
                    <span style="float: right; text-transform: none; margin-right: 10px" th:if="${!searchResult.facetedPage.getContent().isEmpty()}">
                        <b>Sortiert nach:</b>
                        <select th:field="*{sortOrder}" th:remove="all-but-first"
                                onchange="$('#searchResult').submit();">
                            <option th:each="order : ${sortOrders}" th:selected="${order == searchResult.sortOrder}"
                                    th:value="${order}" th:text="${order.value}">Credit card
                            </option>
                            <option>Another payment method</option>
                            <option>Another payment method</option>
                        </select>
                    </span>
                </div>
                <div class="box-content">
                    <div id="resultsBlock" class="box-product">
                        <div style="padding: 10px;" th:if="${searchResult.facetedPage.getContent().isEmpty()}">
                            <h2>Zu Ihrer Suche wurde leider nichts gefunden</h2>

                            <h3>Für den Suchbegriff wurden keine Produkte gefunden.</h3>

                            <h3>Hinweise zur Suche:</h3>
                            <ul>
                                <li>
                                    Bitte achten Sie auf die richtige Schreibweise des Suchwortes
                                </li>
                                <li>
                                    Vermeiden Sie Umlaute oder Sonderzeichen
                                </li>
                            </ul>
                        </div>

                        <table border="0" cellpadding="5" cellspacing="0" style="width: 100%"
                               th:if="${!searchResult.facetedPage.getContent().isEmpty()}">
                            <tr th:each="article : ${searchResult.facetedPage.getContent()}">
                                <td style="border-bottom: 1px solid #E5E5E5">
                                    <table style="width: 100%">
                                        <tr>
                                            <td style="width: 100px">
                                                <div style="float: left; width: 100px; height: 100px">
                                                    <img th:if="${#strings.isEmpty(article.imageURL)}" th:alt="${article.name}" th:src="@{/images/no-pic.jpg}"
                                                         width="100"
                                                         height="100"/>
                                                    <img th:if="${!#strings.isEmpty(article.imageURL)}" th:alt="${article.name}" th:src="${article.imageURL}"
                                                         width="100"
                                                         height="100"/>
                                                </div>
                                            </td>
                                            <td style="vertical-align: baseline;">
                                                <div style="margin-left: 25px; float: left;">
                                                    <h4 style="margin: 0px;">
                                                        <a th:href="@{/preisvergleich/} + ${article.id} + '/' + ${urlEncoder.encodeURL(article.name)}"
                                                           th:text="${article.name}">Name</a>
                                                    </h4>
                                                    <br/>
                                                </div>
                                            </td>
                                            <td style="width: 130px; vertical-align: baseline;"
                                                th:with="bestPrice=${articleHelper.getBestDiscount(article.prices)}">
                                                <div>ab <span th:text="${#numbers.formatDecimal(bestPrice.get().price, 1, 2)}"></span> €</div>
                                                <div th:if="${bestPrice.get().discount > 0}" style="color: #D14F4F">
                                                    <span th:text="${bestPrice.get().discount}">discount</span>
                                                    %
                                                    <span> Ersparnis</span>
                                                </div>
                                            </td>
                                            <td style="width: 155px; text-align: right; padding-right: 20px;">
                                                <a class="buttonlight morebutton"
                                                   th:href="@{/preisvergleich/} + ${article.id} + '/' + ${urlEncoder.encodeURL(article.name)}">Zum
                                                    Preisvergleich</a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>

                        <table border="0" cellpadding="5" cellspacing="5" style="margin: auto;" th:if="*{!facetedPage.getContent().isEmpty()}">
                            <tr>
                                <td>
                                    <a th:href="@{/suche(parameter=*{parameter}, pharmacies=*{pharmacies}, sortOrder=*{sortOrder}, page=${currentPage - 1})}" style="float: right;" th:if="${currentPage > 1}">Zurück</a>
                                </td>
                                <td style="width: 10px;" th:each="i : ${#numbers.sequence(firstPage, lastPage)}">
                                    <span th:if="${currentPage eq i}" th:text="${i}"></span>
                                    <a th:href="@{/suche(parameter=*{parameter}, pharmacies=*{pharmacies}, sortOrder=*{sortOrder}, page=${i})}" th:if="${currentPage != i}" th:text="${i}"></a>
                                </td>
                                <td>
                                    <a th:href="@{/suche(parameter=*{parameter}, pharmacies=*{pharmacies}, sortOrder=*{sortOrder}, page=${currentPage + 1})}" th:if="${currentPage lt lastPage}">Weiter</a>
                                </td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>